# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Database
backend/db.sqlite3

# Environment
backend/.env
frontend/.env

# Django media
backend/media/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# macOS
.DS_Store

# VS Code
.vscode/
